<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
      type="email"
      matInput
      placeholder="Your email"
      ngModel
      name="email"
      required
      email
      #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Email cannot be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Not Valid Email address</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
      type="password"
      matInput
      placeholder="Your password"
      ngModel
      name="password"
      required
      minlength="6"
      #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Your birthday"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthday"
        required
        #dateInput>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>birthday is required</mat-error>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" required color="primary">
        Agree To Terms and Conditions
    </mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
<section id="container">
  <div id="child1" class="child"></div>
  <div id="child2" class="child"></div>
  <div id="child3" class="child"></div>
</section>
